@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;800&display=swap');

* {
    margin: 0px;
    padding: 0px;
  }

  /* common shared family */
body{
    font-family: 'Mulish', sans-serif;
    }
    
    .text-primary{
        color: #FD6E0A;
    }


  /* header css items */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
  }
  
  .header img{
    width: 60px;
    height: 50px;
  }
  .header-left{
    display: flex;
    color: black;
    padding: 15px;
    margin-left: 80px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
  }

  .header-right{
    display: flex;
    color: black;
    padding: 15px;
    margin-right: 80px;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
  }

  .header h1.nav-title {
    font-size: 30px;
  }
  
  .header a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .header a.active {
    background-color: rgb(228, 92, 7);
    color: white;
  }
  
  .header-right a {
      text-decoration: none;
      padding: 12px;
      border-radius: 8px;
    
  }

  #check {
    display: none;
  }
  
  /* .header-right a::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: red;
    transition: 0.15s ease-in-out;
  } */

  .open-menu, .close-menu{
    position: absolute;
    color: #131318;
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
  }

  .open-menu {
    top: 8%;
    right: 80px;
    transform: translateY(-60%);
  }

  .close-menu{
    top: 40px;
    right: 80px;
  }

 /* header banner part */


   .header {
    width: 100%;
    height: auto;
  }

  .image-container {
    width: 1320px;
    display: block;
    margin: 10px auto;
    position: relative;
  }
  .image-container img {
    width: 100%;
    height: auto;
    border-radius: 16px;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 101%;
    height: 75%;
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
    display: block;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
    padding-bottom: 0px;
  }
  
  .image-greet {
    text-align: center;
    color: #FFF;
    font-family: Mulish;
    font-size: 64px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding: 20px;
  }
  .image-text {
    text-align: center;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
  }

  .form-site {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    color: rgba(19, 19, 24, 0.50);
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 60%;
    margin-left: 250px;
    margin-top: 50px;
    padding: 16px;
    gap: 24px;
  }

  .form-site input {
    border-radius: 8px;
    background: #FFF;
    padding: 10px;
    gap: 5px;
    border: none;
  }
  
.form-site .btn-header {
    border-radius: 8px;
    background: #FF5400;
}

.form-site .btn-header::placeholder {
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.form-site i{
    position: absolute;
    top: 370px;
    transform: translateX(-190%);

}

.form-site .btn-header i{
  color: #ffffff;

}
  /* popular tours styles */

  .popular {
    display: flex;
    background: #FFF;
    margin-top: 100px;
    padding: 130px 200px;
    gap: 100px;
}

.popular-section {
    width: 50%;
}

.section-title {
    color: #131318;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 22px;
}

.section-description {
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 24px;
}

.section-description li {
    margin-bottom: 15px;
}

.btn-primary {
    border-radius: 8px;
    background: #FF5400;
    font-size: 20px;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}

.popular-section img {
    height: 100%;
}


/* choose your styles */

.choose {
    text-align: center; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    height: 100%; 
    margin: 0 auto;
}

.choose h3 {
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}


.choose-container {
    max-width: 1200px; 
    margin: 0 auto; 
}

.centered{
    position: absolute;
    top: 254%;
    left: 26%;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.centered-2{
    position: absolute;
    top: 254%;
    left: 68%;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.centered-3{
    position: absolute;
    top: 305%;
    left: 20%;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.centered-4{
    position: absolute;
    top: 305%;
    left: 45%;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.centered-5{
    position: absolute;
    top: 305%;
    left: 74%;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.centered-6{
    position: absolute;
    top: 367%;
    left: 25%;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.centered-7{
    position: absolute;
    top: 367%;
    left: 67%;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

img{
    width: 100%;
    height: 100%;
    padding: 10px;
}
.row-1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
    row-gap: 10px;
    margin-bottom: 10px;
    gap: 15px;
    
}

.row-2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    margin-bottom: 10px;
}


/* choose us styles */

.why-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    padding: 150px;
    
}

.why-container img {
    width: 50px;
    height: 50px;
   
}
.why{
    padding: 30px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);  
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);  
}


.why-1 {
    padding: 30px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);  
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}
/* .why-description{
    color: #757575;
    
} */

.why-special-why {
    position: absolute;
    margin-top: 280px;
    width: 80vh;
    margin-left: 280px;
    padding: 30px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);  
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05); 
}


/* extra styles */

.extra-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 150px;
  gap: 10px;
}

.extra{
  margin: 50px;
  padding: 10px;
  border-radius: 5px;
  background: #FFF;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);    
}

.extra img{
  width: 500px;
  height: 400px;
  margin-left: 55px;
  border-radius: 60%;
 
}
.extra-title {
  color: #131318;
  text-align: center;
  font-family: Mulish;
  font-size: 30px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.extra-description{
  text-align: center;
}

/* .review {
  text-align: center;
} */

/* newsletter styles */

.newsletter {
    display: flex;
    background: #FFF;
    margin-top: 100px;
    padding: 130px 200px;
    gap: 100px;
    
}

.newsletter-section input[type="text"], .newsletter-section input[type="email"] {
    display: block;
    margin-bottom: 25px;
    padding: 18px 35px;
    color: #757575;
    border-radius: 5px;
    background:#FFF;
    border: 0;
    width: 100%;
    background: rgba(19, 19, 24, 0.05);
}

.newsletter-section input[type="submit"] {
    display: block;
    margin-bottom: 25px;
    padding: 18px 35px;
    border-radius: 5px;
    border: 0;
    width: 100%;
    
}

/* footer styles */

footer {
  background: rgba(19, 19, 24, 0.05);
  width: 100%;
  height: 200%;

}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-logo{
    display: flex;
    font-size: 10px;
    font-weight: bold;
    padding-left: 30px;
    gap: 5px;
}

.footer-logo h1{
  margin-top: 20px;
}

.footer-logo img{
  width: 50px;
  height: 40px;
}

.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}

.socials li {
  margin: 0 10px;
}

.socials a{
  text-decoration: none;
  color: #131318;
}

.footer-column {
  background: rgba(19, 19, 24, 0.05);
  width: 100vw;
  padding: 20px 0;
  text-align: center;
}


/* Responsive styles */

/* mobile device */

@media screen and (max-width: 576px) {
  .header-right {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 90vh;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 100;
    background-color: #FD6E0A;
    transition: all 0.2s ease-in-out;
  }

  .open-menu, .close-menu {
    display: block;
  }
  #check:checked ~ .header-right {
    right: 0;
  }
}